/*
HTML tiene de base el color del comentario del inicio (gris)
 
    //Proc: Procesamiento del robot (no es relevante)   
    //Procd: Destacado del procesamiento del robot
    //Green: Detalles importantes para la historia
    //Red: Errores 
    //Chat: Son los diálogos
    
*/

body {
  background-color: #191d2c;
  font-family: "Cutive Mono", monospace;
  font-size: 12pt;
  color: rgb(177, 153, 153); /*
    padding-left: 10%;
    padding-right: 10%;*/
  line-height: normal;
}

.proc {
  /*Procesamiento del robot*/
  color: rgb(85, 105, 110);
}

.procd {
  /*Destacado del procesamiento del robot*/
  color: rgb(121, 130, 255);
}

.story {
  /*Detalles importantes para la historia*/
  color: rgb(235, 0, 243);
}

.red {
  /* ""Errores"" entre muchas comillas*/
  color: rgb(255, 53, 53);
}

.chat {
  /*Se usa para los dialogos*/
  color: rgb(0, 255, 85);
}
