/*
HTML tiene de base el color del comentario del inicio (gris)
 
    //Proc: Procesamiento del robot (no es relevante)   
    //Procd: Destacado del procesamiento del robot
    //Green: Detalles importantes para la historia
    //Red: Errores 
    //Chat: Son los diálogos
    
*/

body {
  background-color: #0e034e;
  font-family: "Cutive Mono", monospace;
  font-size: 11pt;
  color: rgb(187, 135, 135); /*
    padding-left: 10%;
    padding-right: 10%;*/
  line-height: normal;
}

.proc {
  /*Procesamiento del robot*/
  color: rgb(153, 76, 172);
}

.procd {
  /*Destacado del procesamiento del robot*/
  color: rgb(0, 204, 255);
}

.story {
  /*Detalles importantes para la historia*/
  color: rgb(0, 255, 0);
}

.red {
  /* ""Errores"" entre muchas comillas*/
  color: rgb(255, 53, 53);
}

.chat {
  /*Se usa para los dialogos*/
  color: rgb(245, 255, 112);
}
