/*
HTML tiene de base el color del comentario del inicio (gris)
 
    //Proc: Procesamiento del robot (no es relevante)   
    //Procd: Destacado del procesamiento del robot
    //Green: Detalles importantes para la historia
    //Red: Errores 
    //Chat: Son los diálogos
    
*/

body {
  background-color: #1e1f24;
  font-family: "Cutive Mono", monospace;
  font-size: 11pt;
  color: rgb(117, 112, 112); /*
    padding-left: 10%;
    padding-right: 10%;*/
  line-height: normal;
}

.proc {
  /*Procesamiento del robot*/
  color: rgb(148, 119, 155);
}

.procd {
  /*Destacado del procesamiento del robot*/
  color: rgb(211, 164, 243);
}

.green {
  /*Detalles importantes para la historia*/
  color: rgb(0, 255, 0);
}

.red {
  /* ""Errores"" entre muchas comillas*/
  color: rgb(255, 0, 0);
}

.chat {
  /*Se usa para los dialogos*/
  color: rgb(245, 255, 112);
}
